# Input - incoming product for processing
# State - Workflow state
# Working/extracted - Extracted product
# working/temp - Temporary files created during processing
# ouput - Generated product

[PrepareArdProcessing]
paths = {"input":"/input",
            "static":"/static",
            "state":"/state",
            "output":"/output", 
            "working":"/working"}

[ProcessRawToArd]
paths = {"input":"/input",
            "static":"/static",
            "state":"/state",
            "output":"/output", 
            "working":"/working"}
arcsiCmdTemplate = /app/workflows/process_s2_swath/templates/arcsi_cmd_template.txt

[FinaliseOutputs]
paths = {"input":"/input",
            "static":"/static",
            "state":"/state",
            "output":"/output", 
            "working":"/working"}
metadataConfigFile = metadata-config.json
metadataTemplate = /app/workflows/process_s2_swath/templates/s2_metadata_template.xml
arcsiCmdTemplate = /app/workflows/process_s2_swath/templates/arcsi_cmd_template.txt
maxCogProcesses = 4
removeInputFiles = False
validateCogs = False